

body{
    margin: 0;   
    background-color: lightgoldenrodyellow;
}



.flex-container {
    max-width: auto;
    max-height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/*///////////////// header //////////////////*/

.logo_Settings{

    padding-top: 5px;
    display: flex;
    display: inline-block;
    z-index: 4;    
    border-bottom-style:outset;
    width: 100%;
    position: fixed;
    background-color:lightgrey;

}

#logo{

    float: right;
    width:2.9em;
    height:2.9em;
    margin-right: 6px;
    margin-top: 5px;

}

#pageTitle{



    font-size: 2em;
    margin-left: 35%;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 10px;

}



#settings{

    float: left;
    margin-left: 10px;
    width:3em;
    height:3em;
    border-radius: 72px;
    border: 1px solid grey;
    border-style:groove;
    box-shadow: 2px 5px #888888;

}






.login_page{

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -3;

    background-color: lawngreen;

}





/*/////////////////////// div containers /////////////////////////////*/



.div_containers{

    flex: 2;
    order: 2;


    padding-top: 2px;
    padding-bottom: 65px;
    margin-top: 0px;
    background-color: aqua;
    width: 100%;
    height:;
}

.div_containers .home{
    display:none;
    margin-top: 80px;
}


.div_containers #matches{
    margin-top: 68px;
    margin-bottom: 74px;
    display: none;
}

.back{
    display:;

}


.div_containers .chat{
    display:;
    margin-top: 80px;
    display: none;
}

.div_containers .contacts{
    display: none;
    margin-top: 80px;
}

.div_containers #rules_policies{
    display: none;
    margin-top: 80px;
}


.flex-container{
    display: none;
}


.login_page{


}


.settings_page{

    display: none;
}

.back{

    display: none;

}




.settings_page{

    position: absolute;
    order: 0;
    margin-top: 0px;
    width:10em;
    height:20em;
    z-index: 2;
    background-color: lightgray;

}

.settings_page #logout{

    margin-top: 80px;
    margin-left: 5px;

}






/*/////////////  NAVIGATION   //////////////////*/

.nav {
    flex: 3;
    order: 3;
    width: 100%;
    bottom:-1px;
    z-index: 4;
    background-color:lightgrey;
    border-top-style: inset;
    position: fixed;
    margin-bottom: 0;
    padding-left: 21px;
}


.nav ul{
    margin-bottom: 2.5px;
    margin-top: 10px;
}








.nav ul li{
    display: inline-block;
    margin-top: -6px;
    margin-left: -20px;
    padding-right: 14px;

}

.nav ul li a{

    padding-right: 8px;
    margin-bottom: ;


}

.nav ul li a img{
    border-radius: 25px;
    border: 1px solid lightyellow;
    border-style:groove;
    box-shadow: 2px 5px #888888;
    padding: 0.2px;
    background-color:silver;

}


/*/////////////////////////////////////////////// matches  ////////////////////////////////////////////////*/

/*

.div_containers #matches{

display:;
flex-direction:;
margin-top: 80px;
position: absolute;


}


.flip3D{
display: ;
position:;
flex-direction:;
display:;
width: ;
height:;
margin: ;
float: ;
margin-left: 10px;
margin-right: 10px;


-webkit-filter: drop-shadow(2px 1px 0 black) drop-shadow(-1px -1px 0 black);

}


.flip3D .front{

display: flex;
display: inline-block;
position:absolute;
-webkit- transform: perspective(600px) rotateY(0deg);
transform: perspective(600px) rotateY(0deg);
background-color: blueviolet; 
width:; 
height:; 
border-radius:13px;
backface-visibility: hidden;
transition: -webkit- transform .5s linear 0s;
transition: transform .5s linear 0s;
z-index: -2;

-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));  to apply shadow to the images 


}


.flip3D .back{

position: absolute;
-webkit- transform: perspective(600px) rotateY(180deg);
transform: perspective(600px) rotateY(180deg);
background:; 
width:; 
height:; 
border-radius:2px;
backface-visibility: hidden;
transition: -webkit- transform .5s linear 0s;
transition: transform .5s linear 0s;
background-color: lightyellow; 
z-index: 1;

}






.month:hover .front{
-webkit- transform: perspective(600px) rotateY( 180deg);
transform: perspective(600px) rotateY( 180deg);
}
.month:hover .back{

-webkit- transform: perspective(600px) rotateY( 0deg);
transform: perspective(600px) rotateY( 0deg);
}









.back  details  summary {


z-index: 2;
padding: 8px;
margin: ;
background-color: burlywood;


font-size:;
font-weight: bold;
font-family: arial;

}

*/


/*//////////////////////////////////  chat ////////////////////////////////////////*/



.chat{

    margin-top: 0px;  
    width:10em;
    height:5em;
    z-index: ;
    background-color: yellow;

}

/*//////////////////////////////// login page /////////////////////////////////////*/



#players_image{

    width: 100%;
    height: 26%;
    margin-top: -1px;
    margin-left: ;
    border-bottom-style: double;
}


#cartoony_field{

    width: 100%;
    height: 49%;
    margin-left:;
    margin-top: 59%;
    position: fixed;
}

#football_field{

    margin-top: -3%; 
    margin-bottom:;
    margin-left: -1%;
    max-height: ;
    width: 103%;
    height: 69%;
    z-index: -5;
    background-color: green;
    position: fixed;
    padding: 0px;
    margin:;
    opacity: 0.5;

}


#username_login{

    margin-left: 25%;
    margin-top: 13%;
    margin-bottom: 4px;
    padding: 6px;
    border-style: ridge;
}

#password_login{

    margin-left: 25%;
    margin-bottom: 10px;
    padding: 6px;
    border-style: ridge;

}


#login{

    margin-left: 37.5%;
    margin-top: 7px;
    margin-bottom: 14px;
    padding: 10px;
    border-bottom-color: lawngreen;
    border-radius: 35px;
    background-color: transparent;
    border-style: hidden;

}




#register{

    margin-left: 38.5%;
    padding: 6px;
    border-radius: 11px;

}

/*///////////////////////// loading screen //////////////////////////////*/


#load_screen{
    background: white;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1000px;
    
}


#load_screen #loading{
    width: 120px;
    height: 24px;
    margin:300px auto;
    
}

#load_screen #loading img{
    
    height: 200px;
    width: 200px;
    margin-left: -40px;
    margin-top: -60%;
}



